.forgot-nav{
    display: flex;
    justify-content: space-between;
    padding: 7px 12px 0;
}
.back-logout{
    display: flex;
    align-items: center;
    gap: 10px;
}
.back-logout-btn{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: none;
    outline: none;
    color: #000;
    padding: 5px 11px;
    border-radius: 6px;
    background-color: #f8f9fa;
    font-size: 15px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    transition: .2s ease;
    cursor: pointer;
}
.back-logout-btn:hover{
    background-color: #d3d4d5;
}
.back-arrow{
    font-size: 23px;
    margin-left: -5px;
}

@media screen and (max-width: 320px) {
    .forgot-nav{
        padding: 7px 8px 0;
    }
    .back-logout-btn{
        align-items: center;
        padding: 3px 6px;
        border-radius: 6px;
        font-size: 12px;
    }
    .back-arrow{
        font-size: 19px;
    }
}