*{
    margin: 0;
    padding: 0;
}
.depositHistory-section{
    position: relative;
    width: 770px;
    max-width: 767px;
    height: 92vh;
    text-align: center;
    margin-top: 26px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 4px #2c1b04;
    overflow: hidden;
}
.deposit-heading{
    margin-top: -5px;
    position: relative;
}
.deposit-heading h1{
    font-size: 29px;
    color: #e0e1e2;
    font-weight: 400;
    letter-spacing: 0.2px;
}
.deposit-table-panel{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 0rem 1rem;
    color: #e0e1e2;
}
.filter{
    display: flex;
    align-items: flex-end;
}
.filter span{
    font-size: 22px;
    font-weight: 600;
}
.filter p{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}
.user-filling-select{
    display: flex;
    gap: 20px;
    overflow-x: auto;
}
.select-option{
    /* padding: 4px 20px; */
    background-color: #e0e1e2;
    font-weight: 600;
    font-size: 12px;
    color: black !important;
}
/* ---------- rsuit classes ---------- */
.rs-input-group{
    width: 12.2rem !important;
    background-color: #e0e1e2 !important;
    border-radius: 0px !important;
    border: 1px solid gray !important;
}
.rs-input-group input{
    background-color: #e0e1e2 !important;
}
.rs-input{
    color: #000 !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    padding-left: 20px !important;
}
.rs-input::placeholder{
    color: #000 !important;
    font-weight: 600 !important;
}
.rs-input-group-addon{
    display: none !important;
}
.rs-picker-daterange-header{
    display: none;
}
.rs-input-group:focus-within.rs-input-group-focus{
    visibility: hidden;
}
/* ---------------------- */

.deposit-table-section{
    height: 100%;
    padding: 0 10px;
    /* border: solid red; */
}
.deposit-table-content{
    height: 100%;
}
.deposit-table-custom{
    height: 72%;
    overflow-y: auto;
    padding-bottom: 55px;
    /* border: solid blue; */
}
.deposit-table-custom::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
    height: 4px;
}
.deposit-table-custom::-webkit-scrollbar-track {
    background: #e4e2e2;         /* color of the tracking area */
    border-radius: 20px;
}
.deposit-table-custom::-webkit-scrollbar-thumb {
    background-color: #997404;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}
.green{
    color: green !important;
}

/* ------------Bootstrap classes------------ */
.table{
    text-align: left;
    background-color: #212529 !important;
}
.table tbody tr{
    font-size: 15px !important;
}
.table.table-striped{
    margin-bottom: 0;
}
.table>:not(caption)>*>*{
    background-color: #212529 !important;
    border-bottom: solid #666666;
    color: #fff !important;
}
.table-striped>tbody>tr:nth-of-type(odd)>*{
    background-color: #3a3a3a85 !important;
}
/* -------------------- */


@media screen and (max-width: 1024px) {
    .rs-picker-popup{
        transform: translate(-15%);   
    }
}
@media screen and (max-width: 767px) {
    .rs-picker-popup{
        transform: translateX(-36%);    
    }
}
@media screen and (max-width: 581px) {
    .depositHistory-section{
        margin-top: 0;
        border-radius: 0;
    }
    .deposit-heading{
        margin-top: 15px;
    }
    .deposit-heading h1{
        font-size: 25px;
    }
    .deposit-table-panel{
        column-gap: 30px;
        row-gap: 10px;
    }
    .select-option{
        padding: 4px 10px;
    }
    .rs-input-group{
        width: 10rem !important;
    }
    .rs-input{
        padding-left: 7px !important;
    }
    .rs-picker-popup{
        transform: translateX(-45%);    
    }
    .table.table-striped{
        width: 140%;
    }
}
@media screen and (max-width: 320px) {
    .deposit-heading h1{
        font-size: 22px;
    }
    .deposit-table-panel{
        flex-direction: column;
    }
}