*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.withdraw-section{
    position: relative;
    width: 770px;
    max-width: 767px;
    height: 92vh;
    text-align: center;
    margin-top: 26px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 4px #2c1b04;
    overflow: hidden;
}
.withdraw-heading{
    padding: 8px 0 3.3rem;
    position: relative;
    margin-top: -5px;
}
.withdraw-heading h2{
    font-size: 24.5px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #d3d4d5;
}
.withdraw-content{
    position: relative;
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 1.8rem;
    background-color: #623800;
    box-shadow: 0px -4px 1px #a06619;
    border-radius: 60px 60px 0 0;
}
.withdraw-content p{
    color: #d6dde4;
    letter-spacing: 0.1px;
}
.withdraw-form{
    width: 420px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    text-align: left;   
    gap: 15px;
    overflow-y: scroll;
}
.with-label-select{
    display: flex;
    flex-direction: column;
    color: #d6dde4;
    font-size: 14px;
}
.addnew-label{
    display: flex;
    justify-content: space-between;
}
.withdraw-form input[type = "number"], .withdraw-form select{
    height: 38px;
    padding: 7px 12px;
    opacity: 0.53;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #000;
}
.withdraw-form input:focus, .withdraw-form select:focus{
    border: 2px solid #000;
    outline: 1px solid #fff;
}
.with-label-select label{
    font-size: 15px;
    margin-bottom: 2px;
}
.withdraw-submit-btn{
    padding: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.add-new-span{
    cursor: pointer;
}
#open-addnew{
    transform: scale(0);
}
.addnew-account-form{
    width: 460px;
    padding: 10px 15px;
    border-radius: 15px;
    position: absolute;
    top: 11%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    background-color: #fff;
    transition: 0.3s ease;
    transform: scale(1);
    z-index: 10;
}
.addnew-account-form h3{
    font-size: 19px;
    font-weight: 400;
    margin: 0;
}
.close-btn{
    position: absolute;
    right: 12px;
    top: 17px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1px;
    cursor: pointer;
}
.close-btn span{
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    margin: 1px;
}
.addnew-label-input{
    display: flex;
    flex-direction: column;
    font-size: 13.9px;
}
.addnew-label-input label{
    font-weight: 600;
}
.addnew-label-input input{
    height: 35px;
    padding: 7px 12px;
    /* opacity: 0.53; */
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #623800;
}
.add-account-btn{
    height: 34px;
    margin: 5px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background-color: #211f1f;
    cursor: pointer;
}


@media screen and (max-width: 1024px){
    .withdraw-form{
        height: 100%;
        overflow-y: auto;
    }
    .withdraw-submit-btn{
        padding: 5px 0;
    }
    .addnew-account-form{
        top: 3%;
    }
}
@media screen and (max-width: 581px) {
    .withdraw-section{
        margin-top: 0;
        height: 100vh;
        border-radius: 0;
    }
    .withdraw-heading{
        padding: 8px 0 1.8rem;
        margin-top: 10px;
    }
    .withdraw-heading h2{
        font-size: 22px;
    }
    .withdraw-content{
        height: calc(100% - 110px);
        padding: 30px;
        gap: 8px;
    }
    .withdraw-form{
        width: 100%;
        gap: 10px;
    }
    .addnew-account-form{
        width: 92%;
        top: 12%;
    }
}
@media screen and (max-width: 320px) {
    .withdraw-submit-btn{
        border-radius: 5px;
        margin-top: 0;
    }
    .with-label-select input[type = "number"], .with-label-select select{
        height: 33px;
        padding: 5px 7px;
        border-radius: 5px;
        font-size: 12px;
    }
    .input-file{
        height: 37px;
        padding: 8px 7px;
        background-color: #fff;
        opacity: 0.53;
        font-size: 12px;
        border-radius: 5px;
        color: #000000;
    }
    input[type="file"]::file-selector-button{
        padding: 2px 5px;
        color: #ffffff;
        font-size: 12px;
    }
}